@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

/*header*/

header {

    background-image: url(./img.png/header-back.png);
    height: 800px;
    width: 100vw;
    background-position: center;  
 }

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;   
 }

a {    
    text-decoration: none;    
    padding: 5px;    
    color: #8f7363; 
    font-size: 80;
    font-family: 'Open Sans', sans-serif;
 }

 .search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #8f7363;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #8f7363
  } 

  .searchButton {
    width: 60px;
    height: 36px;
    border: 1px solid #8f7363;
    background: #8f7363;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }
  
   .container {
    width: 30%;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/*menus main*/

.listas-content {

    background-color: #E1DAD6;
    position: relative;
    bottom: 0px;
    left: 0px;
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.lista1 {
    background-color: #E1DAD6;
    height: 250px;
    width: 30vw;
}

/*div links*/ 

.links-content {
    background-color: #E1DAD6;
    position: relative;
    bottom: 0px;
    left: 0px;
    height: 250px;
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 16px 0px 16px 40px;
    color: #623B26;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 8px 0px 0px 20px;
    color: #623B26;
}

.midias {
  height: 30px;
  width: 30px;
  margin-left: 10px; 
  margin-top: 10px;
}

@media screen and (max-width: 599px) {
 
  h3 {
    margin-left: 8px;
  }

  ul {
    font-size: small;
    margin-left: 8px;
  }

  .excluir {
    display: none;
  }

  .lista1 {
    width: 50%;
  }

  .midias {
    height: 30px;
    width: 30px;
    margin-left: 10px; 
    margin-top: 10px;
    margin-right: 10px;
  }
}
