/*header*/


header {    
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
}   

.menu {
    display: flex;
    justify-content: center;
    align-items: center; 
 }
 
a {    
    text-decoration: none;    
    padding: 20px;    
    color: #8f7363; 
    font-size: 80;
    font-family: 'Open Sans', sans-serif;   
 }
 
 .search {
    width: 50vw;    
    display: flex;
    align-items: center;
  }
  
  .searchTerm {
    width: 50vw;
    border: 3px solid #8f7363;
    border-right: none;
    padding: 5px;
    height: 3vh;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #8f7363;
  } 

.searchButton {
    width: 5vw;
    height: 5vh;
    border: 1px solid #8f7363;
    background: #8f7363;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bolder;
    font-size: 40;
    font-family: 'Open Sans', sans-serif;
  }

  .searchBox {
    display: flex;
    
    
    align-content: center;
    

  }

@media screen (max-width: 400px) {
.searchBox {
    display: flex;
    justify-content:center;
    width: 20%;
    position: absolute;
    top: 90vh;
    left: 30vw;
    transform: translate(-50%, -50%);

